<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/adminlogin.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<div class="container" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h2>Log In</h2>
    <form action="/admin" method="post" >
      <input name="email" type="email" placeholder="email"/ value="safad@gmail.com">
      <input id="password" name="password" type="password" placeholder="password" value="safad"/>
      <p style="margin-left:30%;color: red;"><%= msg %></p>
      <button style="margin-left: 40%;" type="submit">LOGIN</button>
      
    </form>
    
    <h2>&nbsp;</h2>
  </div>
</div>
</body>
</html>