<div class="card">
  <div class="card-body">
    <form class="forms-sample" onsubmit="catogoryupdate(event)">
      <div class="form-group">
        <input id="ogname" type="hidden" name="ogname" />
        <label for="exampleInputName1">Name</label>
        <input name="name" type="text" class="form-control" id="updatename" placeholder="Name" required>
      </div>
     
      <button type="submit" class="btn btn-primary mr-2">Submit</button>
    </form>
  </div>
</div>
