<style>
  #prev1, #prev2, #prev3 {
    max-width: 200px;
    max-height: 200px;
    object-fit: contain;
    display: block;
    margin-top: 10px;
  }
</style>
<div class="card">
  <div class="card-body">
    <form class="forms-sample" onsubmit="productAdder(event)">
      <div class="form-group">
        <label>Name of Product</label>
        <input name="name" type="text" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <label>Price</label>
        <input name="price" type="number" class="form-control" placeholder="Price" step="0.01">
      </div>
      <div class="form-group">
        <label>Offer in %</label>
        <input name="offer" type="number" class="form-control" placeholder="offer"  step="0.01">
      </div>
      <div class="form-group">
        <label>Category</label>
        <select class="form-control" name="category" id="dropdown" name="options">
          <% options.forEach(option => { %>
            <option value="<%= option %>"><%= option %></option>
          <% }); %>
        </select>
      </div>
      <div class="form-group">
        <label>Count</label>
        <input name="count" type="number" class="form-control" placeholder="Count">
      </div>
      <div class="form-group">
        <label for="exampleInputName1">Description</label>
        <textarea name="descr" class="form-control" id="descr" rows="3"></textarea>
      </div>
      <div id="selectedVariants" class="mb-3">
        <!-- Selected variants will be displayed here -->
      </div>
      <button type="button" class="btn btn-info mr-2" data-toggle="modal" data-target="#variantModal">
        Add Variant
      </button>
      <div class="form-group">
        <label>Images</label>
        <input class="form-control" onchange="cropper(1)" id="image1" type="file" accept="image/*">
        <img style="display: none;" src="" alt="" id="prev1">
      </div>
      <div class="form-group">
        <label>Images</label>
        <input class="form-control" onchange="cropper(2)" id="image2" type="file" accept="image/*">
        <img style="display: none;" src="" alt="" id="prev2">
      </div>
      <div class="form-group">
        <label>Images</label>
        <input class="form-control" onchange="cropper(3)" id="image3" type="file" accept="image/*">
        <img style="display: none;" src="" alt="" id="prev3">
      </div>
      <button type="submit" class="btn btn-primary mr-2">Submit</button>
      <p id="errp" style="color: red;"></p>
    </form>
  </div>
</div>

<!-- Variant Modal -->
<div class="modal fade" id="variantModal" tabindex="-1" role="dialog" aria-labelledby="variantModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="variantModalLabel">Add Variant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Color</label>
          <select class="form-control" id="modalColorSelect">
            <option value="">Select a color</option>
            <option value="Black">Black</option>
            <option value="White">White</option>
            <option value="Red">Red</option>
            <option value="Blue">Blue</option>
            <option value="Green">Green</option>
            <option value="Gray">Gray</option>
            <option value="Navy">Navy</option>
            <option value="Brown">Brown</option>
            <option value="Beige">Beige</option>
            <option value="Pink">Pink</option>
          </select>
        </div>
        <div class="form-group">
          <label>Size</label>
          <select class="form-control" id="modalSizeSelect">
            <option value="">Select a size</option>
            <option value="S">S</option>
            <option value="M">M</option>
            <option value="L">L</option>
            <option value="XL">XL</option>
          </select>
        </div>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="addVariant()">Add Variant</button>
      </div>

    </div>
  </div>
</div>



